<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <link href="../../../bower_components/foundation-sites/dist/css/foundation.css" rel="stylesheet" />

    <script src="../../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../../bower_components/foundation-sites/dist/js/foundation.js"></script>
    <script src="../../../bower_components/angular/angular.js"></script>
    <script src="../reveal.js"></script>
    <script src="../demo/reveal.demo.js"></script>

</head>
<body ng-app="app" ng-controller="ctrl as vm">
    <a href="" class="button" ng-click="vm.toggleModal()">Toggle Reveal</a>
    <div>
        <code>showModal: {{ vm.showModal }}</code>
    </div>
    <div class="reveal" fn-reveal="vm.showModal" fn-reveal-options="vm.revealOptions">
        <h4>Transcluded Content</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta quas optio alias voluptas nobis iusto mollitia asperiores incidunt reprehenderit doloribus voluptatibus officiis minus, inventore, quasi nisi. Consequuntur, quidem. Sint, dicta?</p>
        <button class="close-button" aria-label="Close reveal" type="button" ng-click="vm.toggleModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</body>
</html>